{% extends 'McvBundle:mcv:layout.html.twig' %}
{% block body %}
    <div id="wrapper">
        <div id="container">
            <div id="welcome">
                <h1><span>Welcome to</span> MCV View Resource - Artifact Description View</h1>
                <p>
                   To jest widok opisu zabytku:
                </p>
                <table style="text-align: center;width: 100%;">
            Stworzenie karty nie przychodzi łatwo.
            <br /><br /><br />
            {% for i in viewArray %}
                      {{ i.colTitle }} :::{{i.invNumb}}::::{{i.descip}} <br />
            {% endfor %}
                </table>
            </div>
{% endblock %}