{% extends 'layout.html.twig' %}

{% block body %}
     <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>Prezentowanie</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn btn-default" href="{{path('artifact_index')}}" role="button">Szczegóły &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>Zarządzanie</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn btn-default" href="{{path('artifact_list')}}" role="button">Szczegóły &raquo;</a></p>
       </div>
        <div class="col-md-4">
          <h2>Zakup</h2>
          <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
          <p><a class="btn btn-default" href="#" role="button">Szczegóły&raquo;</a></p>
        </div>
      </div>
 <section class="collection">
 <div class="parent">
        <div class="panzoom">
          <img src="http://dziedzictwo.pomorze.pl/datebase/amber/MHMG-B-556-7093.jpg" width="900" height="900">
        </div>
      </div>
      <div class="buttons">
        <button class="zoom-in">Powiększ</button>
        <button class="zoom-out">Pomniejsz</button>
        <input type="range" class="zoom-range">
        <button class="reset">Dopasuj do okna</button>
      </div>
    </section>
<script>
        
    (function() {
          var $section = $('.collection');
         console.log($section);
        $section.find('.panzoom').panzoom({
            $zoomIn: $section.find(".zoom-in"),
            $zoomOut: $section.find(".zoom-out"),
            $zoomRange: $section.find(".zoom-range"),
            $reset: $section.find(".reset"),
            panOnlyWhenZoomed: false,
            minScale: 1
          });
          $section.find('.panzoom').parent().on('mousewheel.focal', function( e ) {
            e.preventDefault();
            var delta = e.delta || e.originalEvent.wheelDelta;
            var zoomOut = delta ? delta < 0 : e.originalEvent.deltaY > 0;
          $section.find('.panzoom').panzoom('zoom', zoomOut, {
              animate: false,
              focal: e
            });
          });
        })();
      </script>
    
{% endblock %}

