{% extends 'McvBundle:mcv:layout.html.twig' %}

{% block body %}
    <div class="container">
    <!--Menu content blocks -->
     {% include 'McvBundle:mcv:frontpage/row-blocks.html.twig'%}
     
    <!-- Content Jumbotron block -->
     {% include 'McvBundle:mcv:frontpage/content-jumbo.html.twig'%}
    
     <!--ARTIFACT VIEWER -->
     {#{%include 'McvBundle:mcv:frontpage/viewer.html.twig'%}#}
      
     <!-- Front Article block -->
     {% include 'McvBundle:mcv:frontpage/front-article.html.twig'%}
    </div>

{% endblock %}

