{% extends "layout.html.twig"%}
{% block body %}
    <div id="wrapper">
        <div id="container">
            <div id="welcome">
                <h1><span>Welcome to</span> MCV View Resource</h1>
                <p>
                   To jest widok listy zabytków:
                </p>
                <p>
                    {% for i in artifact %}
                        <a href="{{path('artifact_description', {'inventoryNumber': i.inventoryNumber}) }}"> {{ i.inventoryNumber }} <br />
                    {% endfor %}
                </p>
            </div>
{% endblock %}