{% extends '/artifact/basic.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <div id="welcome">
                <h1><span>Welcome to</span> MCV View Resource</h1>
                <p>
                   To jest widok listy zabytków
                </p>
            </div>
{% endblock %}